// Octo-found customization variables
$octofound-article-divider-size: 5px;
$octofound-article-divider-style: solid;
$octofound-article-divider-padding: $topbar-margin-bottom;

.page,
.post,
.blog-index {
  @include grid-row();

  & > article,
  & > .blog-posts {
    @include grid-column(8, $float: right);
  }

  & > aside.sidebar {
    @include grid-column(4, $float: left);
  }

  & > .blog-posts > article {
    padding-bottom: $octofound-article-divider-padding;
    margin-bottom: $octofound-article-divider-padding;
    border-bottom: $octofound-article-divider-size $octofound-article-divider-style $primary-color;
  }

  & > aside.sidebar .panel {
    overflow: hidden;
  }
}
