footer.bottom-bar {
  height: 3 * $topbar-height;
  background: url("../images/dark-squares.png");
  border-top: 6px groove $header-font-color;
  margin-top: $topbar-height;

  .credits {
    @include grid-row();
  }

  .item {
    @include grid-column($columns: 4, $float: left);
    margin-top: 0.5 * $topbar-height;
  }

  .html5 {
    top: $topbar-height;
  }

  .humans {
    top: $topbar-height;
  }

  .html5 a,
  .octopress a,
  .humans a {
    background: url("../images/footer-sprites.png") no-repeat;
    display: block;
    margin: auto;
  }

  .html5 a {
    background-position: 0 0;
    width: 42px;
    height: 20px;
  }

  .octopress a {
    background-position: -42px 0;
    width: 100px;
    height: 100px;
  }

  .humans a {
    background-position: -142px 0;
    width: 85px;
    height: 30px;
  }
}