footer {
  height: 3 * $topbar-height;

  ul.credits {
    @include block-grid($per-row: 3);
  }

  .html5 a,
  .octopress a,
  .humans a {
    background: url("../images/footer-sprites.png") no-repeat;
    display: block;
  }

  .html5 a {
    background-position: 0 0;
    width: 42px;
    height: 20px;
  }

  .octopress a {
    background-position: -42px 0;
    width: 100px;
    height: 100px;
  }

  .humans a {
    background-position: -142px 0;
    width: 85px;
    height: 30px;
  }
}