$octofound-sidebar-opacity: 0.7;

aside.sidebar {
/*
  opacity: $octofound-sidebar-opacity;

  @include transition-property(opacity);
  @include transition-duration(0.3s);
  @include transition-timing-function(ease-in);

  &:hover {
    opacity: 1;
  }
*/
}