#tweets {
  .loading {
    background: inline-image('bird_32_gray.png') no-repeat center .5em;
    text-align: center;
    padding: 2.5em 0 .5em;
    &.error {
      background: inline-image('bird_32_gray_fail.png') no-repeat center .5em;
    }
  }
}